@import "tailwindcss";

:root {
	--primary: #212121;

	--text-primary: #bfbfbf;

	--navbar-primary: #194719;
	--navbar-secondary: #2f8a2f;
	--sub-navbar-primary: #4a2378;
	--sub-navbar-secondary: #9c70d2;

	--green-text: #2f8a2f;
	--red-text: #d63333;
}

@theme inline {
	--color-primary: var(--primary);

	--color-text-primary: var(--text-primary);

	--color-navbar-primary: var(--navbar-primary);
	--color-navbar-secondary: var(--navbar-secondary);
	--color-sub-navbar-primary: var(--sub-navbar-primary);
	--color-sub-navbar-secondary: var(--sub-navbar-secondary);

	--color-green-text: var(--green-text);
	--color-red-text: var(--red-text);

	--text-small: 11px;
	--text-medium: 24px;
	--text-large: 32px;

	--font-sans: var(--font-lexend);
	--font-monaco:
		Monaco, var(--font-jetbrains-mono), "Cascadia Mono", "Courier New",
		monospace;
}

body {
	font-family: var(--font-sans);
}
